* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 20px;
  line-height: 120%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* navbar */
.topnav {
  background-color: #15243C;
  position:absolute;
  right: 0;
}

/* Navbar links */
.topnav a {
  font-family: sans-serif;
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #FF66C4;
  color: black;
}

/* background */
.bg-img {
  width: 100%; 
}
/* root */
:root {
  --typewriterSpeed: 4s;
  --typewriterCharacters: 24;
}
/* headline1 */
h1 {
  font-size: clamp(1rem, 2vw + 2rem, 2rem);
  font-family: monospace;
  background-color: #f0a2e9;
  position:absolute;
  left: 45%;
  top: 30%;
}

h1::before,
h1::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

h1::before {
  background-color: #15243C;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 1s forwards;
}

h1::after {
  width: 0.125em;
  background: rgb(230, 94, 165);
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 1s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}

.subtitle {
  font-size: 2rem;
  opacity: 0;
  font-family: monospace;
  background-color: #f0a2e9;
  transform: translateY(3rem);
  animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
  position:absolute;
  left: 35%;
  top: 40%;
}
/* typing flow */
@keyframes typewriter {
  to {
    left: 100%;
  }
}
/* subtitle mothion */
@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
