.bg-img {
  width: 100%;
  /* Needed to position the navbar */
  position: top;
}

/* The navbar */
.topnav {
  overflow: hidden;
  background-color: #15243C;
  position: top;
}
/* Navbar links */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
.topnav a:hover {
  background-color: #FF66C4;
  color: black;
}
