* {
  vertical-align: baseline;
  font-weight: inherit;
  font-family: inherit;
  font-style: inherit;
  font-size: 20px;
  line-height: 120%;
  box-sizing: border-box;
  border: 0;
  outline: 0;
  padding: 0;
  margin: 0;
}

/* navbar */
.topnav {
  background-color: #15243C;
  position:absolute;
  right: 0;
}

/* Navbar links */
.topnav a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.topnav a:hover {
  background-color: #FF66C4;
  color: black;
}

/* background */
.bg-img {
  display: block;
  width: 100%; 
}

/* decoration image */
.deco-img{
  position: block;
  margin-top: 0;
  max-width:42%; 
  vertical-align: middle; 
  }

  /* heading */
.heading {
  position: absolute;
  bottom: 6%;
  left: 22%;
  font-size: 40px;
  font-family:"Lucida Console", "Courier New", monospace;
}
.name{
  font-family: fantasy;
  color: #FF66C4;
}

/* my image */
.my-img {
  position: absolute;
  top: 80%;
  right: 0;
  width: 60%;
 

}

.aboutMe {
  position: absolute;
  font-size: 40px;
  font-family:"Lucida Console", "Courier New", monospace;
}
